@font-face {
    font-family: "AwanZaman-Regular";
    src: url("https://db.onlinewebfonts.com/t/1f75154643c08ae550c78c5ba92ba8f8.eot");
    src: url("https://db.onlinewebfonts.com/t/1f75154643c08ae550c78c5ba92ba8f8.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/1f75154643c08ae550c78c5ba92ba8f8.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/1f75154643c08ae550c78c5ba92ba8f8.woff")format("woff")
}

@font-face {
    font-family: "TTCommons-LightItalic";
    src: url("https://db.onlinewebfonts.com/t/837d926a8c8e6992292df4a916d71ceb.eot");
    src: url("https://db.onlinewebfonts.com/t/837d926a8c8e6992292df4a916d71ceb.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/837d926a8c8e6992292df4a916d71ceb.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/837d926a8c8e6992292df4a916d71ceb.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/837d926a8c8e6992292df4a916d71ceb.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/837d926a8c8e6992292df4a916d71ceb.svg#TTCommons-LightItalic")format("svg");
}
* {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    flex: 1;
    color: white;
    background-color: #1F2937;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -8px;
}

.headerbuttons {
    display: flex;
    flex: 1;
    list-style-type: none;
    margin-top: 30px;
    margin-left: 550px;
    margin-right: auto;
    gap: 40px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    flex: 1;
    margin-left: 250px;
    margin-top: 25px;
    font-size: 24px;
    color: #F9FAF8;
    font-family: Arial, Helvetica, sans-serif
}

a {
    text-decoration: none;
    color: lightgray
  }
  
.firstsection {
    display: flex;
    padding: 25%;
    background-color: #1F2937;
    padding-left: 100%;
    margin-left: -10px;
    padding-bottom: 175px;
    padding-right: 18px;

} 

.firstcontent {
    display: flex;
    margin-top: -300px;
    color: #F9FAF8;
    margin-left: -1400px;
    width: 1000px;
    gap: 50px;
}

.herotext {
    font-size: 48px;
    font-weight: 1000;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
}

.heropara {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    margin-top: -30px;
    font-family: Arial, Helvetica, sans-serif;
}

.leftcontent {
    max-width: 600px;
    min-width: 440px;
}

.rightimage {
    margin: auto auto auto auto;
}

img {
    width: 600px;
    height: 300px;
}

.leftcontent button {
    width: 110px;
    height: 40px;
    background-color: #3882F6;
    font-size: 16px;
    font-weight: 1000;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.randominformation {
    min-height: 100%;
    padding-bottom: 75px;
}

.randominformation p {
    text-align: center;
    margin-top: 50px;
    font-size: 36px;
    font-weight: 1000;
    color: #1F2937;
    font-family: Arial, Helvetica, sans-serif;
}

.items {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.randominformation button {
    height: 200px;
    width: 200px;
    min-width: 200px;;
    cursor: auto;
    color: transparent;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 6px solid #3882F6; 
    border-radius: 20px;
    background: none;
    padding: 0;
    margin: 0;
    text-align: left;
    cursor: auto;
    outline: none;
    font: inherit;
    color: inherit;
    text-decoration: none;
    overflow: visible;
    user-select: none;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
}

.randominformation .items .buttons p {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-weight: 100;
    color: rgb(120, 120, 120);
}

.quotesection {
    background-color: #E5E7EB;
    min-height: 450px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -8px;
}

.quote {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding-top: 90px;
    flex-direction: column;
}

.quotepara {
    font-size: 38px;
    font-style: light italic;
    font-weight: 0;
    font-family: "TTCommons-LightItalic"; 
    min-width: 750px;
    max-width: 750px;
    margin-left: 25px;

}

.quoteby {
    display: flex;
    margin-right: auto;
    margin-left: 1025px;
    margin-top: -25px;
    font-size: 18px;
    font-weight: 1000;
}

.lastsection {
    display: flex;
    padding: 125px;
    justify-content: center;
}

.box {
    background-color: #3882F6;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 400px;
    padding-right: 400px;
    border-radius: 10px;
    margin-left: -100px;
}

.button {
    display: flex;
    margin-left: -100px;
    align-items: center;
    margin-left: -220px;
}

.button button {
    height: 35px;
    width: 125px;
    cursor: pointer;
    border: 2px solid white;
    color: inherit;
    background: none;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 1000;
}

.textstuffbox {
    margin-left: -300px;
    color: white;
}

.textstuffbox .boxtitle {
    font-weight: 600;
    font-size: 20px;
}

.textstuffbox .boxtext {
    margin-top: -20px;
    color: rgb(230, 230, 230);
}

.footer {
    display: flex;
    justify-content: center;
    flex: 1;
    color: #E5E7EB;
    background-color: #1F2937;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -8px;
    margin-bottom: -10px;
    padding-bottom: 20px;
    padding-top: 20px;
}